{% extends "base.html" %}

{% block body %}


    
<div class="container-fluid">
    <h2>Employee Management System</h2>
    <hr>
    <br>
    <a class="btn btn-primary" href="/employees" role="button">View All Employee</a>
    <a class="btn btn-primary" href="/addemployee" role="button">Add An Employee</a>
    <a class="btn btn-primary" href="/removeemployee" role="button">Remove An Employee</a>
    <a class="btn btn-primary" href="/searchemployee" role="button">Filter Employee Details</a>

  </div>

    


{% endblock body %}


























